# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
